<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>guetzli_ios_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AB2CAE21F0353F0004FABCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB2CAFE1F0353F0004FABCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB2CB091F0353F0004FABCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
